/* MAIN CONTAINER */
.signup-container {
    display: flex;
    width: 1100px;
    height: 650px;
    margin: 40px auto;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

/* LEFT SIDE */
.left-side {
    width: 45%;
    background: #8467d1;
    padding: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-side h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
}

.left-side p {
    font-size: 16px;
    margin-top: 10px;
    opacity: 0.9;
}

.left-img {
    width: 350px;
    align-self: center;
}

/* RIGHT SIDE */
.right-side {
    width: 55%;
    padding: 60px 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-box {
    width: 100%;
    max-width: 370px;
}

/* LANGUAGE */
.lang {
    text-align: right;
    font-size: 12px;
    color: gray;
    margin-bottom: 10px;
}

/* HEADING */
.form-box h2 {
    font-size: 26px;
    margin-bottom: 25px;
}

/* Social Login Buttons */
.social-login {
    width: 100%;
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 20px;
}

/* Divider */
.divider {
    margin: 20px 0;
    text-align: center;
    color: gray;
    display: flex;
    align-items: center;
    gap: 10px;
}

.divider span {
    flex: 1;
    height: 1px;
    background: #ddd;
}

/* Inputs */
.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

/* Checkbox */
.check-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 12px;
    margin-bottom: 20px;
}

.check-row a {
    color: #574bff;
}

/* Sign Up Button */
.signup-btn {
    width: 100%;
    padding: 14px;
    background: #574bff;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 20px;
}

/* Login Text */
.login-text {
    text-align: center;
    font-size: 13px;
}

.login-text a {
    color: #574bff;
}

/* Show password */
.password-wrapper {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: gray;
    padding: 5px;
}